main {
	min-width: 450px !important;
}
[contenteditable]:focus,
input:focus,
select:focus {
	outline: 0 solid transparent;
}
textarea:focus,
button:focus,
button:active,
button:focus-visible,
button:focus-within,
.form-control:focus,
.form-control:active,
.form-control:focus-visible,
.form-control:focus-within,
.fpage-item:focus,
.fpage-item:hover,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="checkbox"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus,
.accordion-button {
	box-shadow: none !important;
}

.form-control.table-filter:focus,
.form-control.table-filter:active,
.form-control.table-filter:focus-visible,
.form-control.table-filter:focus-within {
	border-color: #444 !important;
	box-shadow: none !important;
}
.btn {
	text-transform: uppercase;
	color: #fff !important;
	background: var(--tertiary);
	font-weight: 500 !important;
}

.btn:hover,
.btn:active,
.btn:focus {
	transition: 0.5s ease;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
	background-color: #ffffff !important;
	color: #555 !important;
	box-shadow: 0 0 0 1000px #fff inset !important;
	-webkit-box-shadow: 0 0 0 1000px #fff inset !important;
	-webkit-text-fill-color: #555555 !important;
}
